{% extends "base.html" %}
{% load static %}


{% block title %}Proveedores{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/destacados.css">
    <div class="container">
        <br>
        <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Bandana</span>
                    <span class="card-notify-year"><strong>80%</strong></span>
                    <img src="/static/img/bandanas/b1.jpeg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">Used</span>
                    <span class="card-detail-badge">$28,000.00</span>
                    <span class="card-detail-badge">13000 Kms</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda Accord LX</h5>
                    </div>
                    <a class="ad-btn" href="#">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Indentificador</span>
                    <span class="card-notify-year">2017</span>
                    <img src="/static/img/identificadores/i3.jpeg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">Used</span>
                    <span class="card-detail-badge">$28,000.00</span>
                    <span class="card-detail-badge">13000 Kms</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda CIVIC HATCHBACK LS</h5>
                    </div>
                    <a class="ad-btn" href="#">View</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Correa</span>
                    <span class="card-notify-year">2018</span>
                    <img src="/static/img/correas/c6.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">Used</span>
                    <span class="card-detail-badge">$22,000.00</span>
                    <span class="card-detail-badge">8000 Kms</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda Accord Hybrid LT</h5>
                    </div>
                    <a class="ad-btn" href="#">View</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>
{% endblock main %}
