{% extends "base.html" %}
{% load static %}


{% block title %}Proveedores{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/destacados.css">
    <div class="container">
        <br>
        <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Bandana</span>
                    <span class="card-notify-year"><strong>-20%</strong></span>
                    <img src="/static/img/bandanas/b1.jpeg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/perro.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Chill Out</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Indentificador</span>
                    <span class="card-notify-year"><strong>-15%</strong></span>

                    <img src="/static/img/identificadores/i3.jpeg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/gato.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Gato en casa</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Correa</span>
                    <span class="card-notify-year"><strong>-30%</strong></span>

                    <img src="/static/img/correas/c6.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/perro.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Correa Sublime</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>

    <!--* fin ofertas-->

    <link rel="stylesheet" href="/static/css/destacados.css">
    <div class="container">
        <br>
        <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Bandana</span>
                    <span class="card-notify-year"><strong>-30%</strong></span>
                    <img src="/static/img/bandanas/b5.jpeg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/gato.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda Accord LX</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Indentificador</span>
                    <span class="card-notify-year"><strong>-10%</strong></span>

                    <img src="/static/img/identificadores/i1.jpeg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/perro.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda CIVIC HATCHBACK LS</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Correa</span>
                    <span class="card-notify-year"><strong>-5%</strong></span>

                    <img src="/static/img/correas/c5.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/gato.svg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Honda Accord Hybrid LT</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>
    
{% endblock main %}
